<h1>Listing stop_times</h1>

<table>
  <tr>
    <th>Trip</th>
    <th>Arrival time</th>
    <th>Departure time</th>
    <th>Stop</th>
    <th>Stop sequence</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @stop_times.each do |stop_time| %>
  <tr>
    <td><%= stop_time.trip_id %></td>
    <td><%= stop_time.arrival_time %></td>
    <td><%= stop_time.departure_time %></td>
    <td><%= stop_time.stop_id %></td>
    <td><%= stop_time.stop_sequence %></td>
    <td><%= link_to 'Show', stop_time %></td>
    <td><%= link_to 'Edit', edit_stop_time_path(stop_time) %></td>
    <td><%= link_to 'Destroy', stop_time, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Stop time', new_stop_time_path %>
